<h2 id="title">ember-undo-stack</h2>

{{textarea value=story cols="80" rows="6"}}

<br>
<button {{action "undo"}} disabled={{cantUndo}}>Undo</button>
<button {{action "redo"}} disabled={{cantRedo}}>Redo</button>

<hr>
Undo Stack Info: {{undoStackInfo}}
